version: '3.9'

services:
  authgrpc:
    build:
      context: .
      dockerfile: Dockerfileauthgrpc
    restart: always
    ports:
      - "7072:7072"
    depends_on:
      - redis
  profilegrpc:
    build:
      context: .
      dockerfile: Dockerfileprofilegrpc
    restart: always
    ports:
      - "7074:7074"
    depends_on:
      - db
  postgrpc:
    build:
      context: .
      dockerfile: Dockerfilepostgrpc
    restart: always
    ports:
      - "7075:7075"
    depends_on:
      - db
  communitygrpc:
    build:
      context: .
      dockerfile: Dockerfilecommunitygrpc
    restart: always
    ports:
      - "7076:7076"
    depends_on:
      - db

  auth:
    build:
      context: .
      dockerfile: Dockerfileauth
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - redis
      - profilegrpc

  file:
    build:
      context: .
      dockerfile: Dockerfilefile
    volumes:
      - ./image:/image
    restart: always
    ports:
      - "8083:8083"
    depends_on:
      - authgrpc

  profile:
    build:
      context: .
      dockerfile: Dockerfileprofile
    restart: always
    ports:
      - "8084:8084"
    depends_on:
      - db
      - authgrpc
      - postgrpc

  post:
    build:
      context: .
      dockerfile: Dockerfilepost
    restart: always
    ports:
      - "8085:8085"
    depends_on:
      - db
      - authgrpc
      - profilegrpc
      - communitygrpc

  community:
    build:
      context: .
      dockerfile: Dockerfilecommunity
    restart: always
    ports:
      - "8086:8086"
    depends_on:
      - db
      - authgrpc

  chat:
    build:
      context: .
      dockerfile: Dockerfilechat
    restart: always
    ports:
      - "8087:8087"
    depends_on:
      - db
      - authgrpc

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - DATABASE_HOST=${DB_HOST}
    volumes:
      - postgres_data:/var/lib/postgresql/vk_app_data
    expose:
      - 5432
    healthcheck:
      test: "pg_isready --username=postgres && psql --username=postgres --list"
      timeout: 10s
      retries: 20
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_USER_PASSWORD=${REDIS_USER_PASSWORD}
    volumes:
      - ./redisdata:/data
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always
    tty: true
    stdin_open: true

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - "./prometheus.yml:/etc/prometheus.yml"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
volumes:
  postgres_data: