global:
  scrape_interval: 15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ['localhost:9090']
  - job_name: "node_exporter"
    static_configs:
      - targets: [ 'node_exporter:9100' ]

  - job_name: "auth"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: ['auth:8082']

  - job_name: "profile"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: ['profile:8084']

  - job_name: "file"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: ['file:8083']

  - job_name: "post"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: ['post:8085']

  - job_name: "community"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: ['community:8086']

  - job_name: "chat"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: ["chat:8087"]

  - job_name: "authGRPC"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: [ "authgrpc:6001" ]

  - job_name: "postGRPC"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: [ "postgrpc:6002" ]

  - job_name: "profileGRPC"
    metrics_path: /api/v1/metrics
    static_configs:
      - targets: [ "profilegrpc:6003" ]